.bx--label {
	text-align: left;
}

.bx--multi-select__wrapper .bx--list-box__wrapper {
	margin-bottom: 10px;
}

.bx--btn {
	font-size: small;
}

.bx--btn--secondary {
	min-height: 2rem;
	padding: calc(0.375rem - 3px) 60px calc(0.375rem - 3px) 12px;
}

.signup-form {
	margin-top: 3rem;
}
