.bx--btn--primary {
    width: 100%;

    margin: 0 auto;
}

.signup__submit-btn {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    max-width: 100%;

    margin: 0 auto;
}

.chooseFileButton {
    background-color: #0061ff !important;
}
